workflow/linkedin-post-automation/workflow.json
{
  "name": "LinkedIn Post Generation & Approval Automation",
  "nodes": [
    {
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [-700, 300],
      "parameters": {
        "rule": {
          "interval": [{}]
        }
      }
    },
    {
      "id": "get-data-from-sheets",
      "name": "Get Data from Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [-500, 300],
      "parameters": {
        "documentId": "YOUR_SHEET_ID",
        "sheetName": "Sheet1",
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Pending"
            }
          ]
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "id": "openai-model",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [-200, 550],
      "parameters": {
        "model": "gpt-4o-mini"
      },
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_CREDENTIAL_ID",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "id": "generate-post",
      "name": "Generate Post Content",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1,
      "position": [-250, 300],
      "parameters": {
        "promptType": "define",
        "text": "You are a cybersecurity subject-matter expert writing a LinkedIn post.\n\nPost idea: {{ $json['Post Description'] }}\nInstructions: {{ $json['Instructions'] }}\n\nReturn only the final LinkedIn post text."
      }
    },
    {
      "id": "data-formatting",
      "name": "Data Formatting",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [50, 300],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "post_content",
              "type": "string",
              "value": "={{ $json.text }}"
            },
            {
              "name": "row_number",
              "type": "number",
              "value": "={{ $json.row_number }}"
            }
          ]
        }
      }
    },
    {
      "id": "send-approval-email",
      "name": "Send Content Confirmation",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [300, 200],
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "approver@example.com",
        "subject": "Approval Required: LinkedIn Post",
        "message": "Generated Post:\n\n{{ $json.post_content }}",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Approve?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  { "option": "Yes" },
                  { "option": "No" },
                  { "option": "Cancel" }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Feedback",
              "fieldType": "textarea"
            }
          ]
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CREDENTIAL_ID",
          "name": "Gmail Account"
        }
      }
    },
    {
      "id": "approval-logic",
      "name": "Content Confirmation Logic",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [550, 200],
      "parameters": {
        "rules": {
          "values": [
            {
              "outputKey": "Approved",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.data['Approve?'] }}",
                    "operator": { "operation": "equals" },
                    "rightValue": "Yes"
                  }
                ]
              }
            },
            {
              "outputKey": "Rejected",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.data['Approve?'] }}",
                    "operator": { "operation": "equals" },
                    "rightValue": "No"
                  }
                ]
              }
            }
          ]
        }
      }
    },
    {
      "id": "post-linkedin",
      "name": "Post to LinkedIn",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [900, 50],
      "parameters": {
        "authentication": "communityManagement",
        "postAs": "organization",
        "organization": "YOUR_LINKEDIN_ORG_ID",
        "text": "={{ $json.post_content }}"
      },
      "credentials": {
        "linkedInCommunityManagementOAuth2Api": {
          "id": "LINKEDIN_CREDENTIAL_ID",
          "name": "LinkedIn Account"
        }
      }
    },
    {
      "id": "update-sheet",
      "name": "Update Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1150, 50],
      "parameters": {
        "operation": "update",
        "documentId": "YOUR_SHEET_ID",
        "sheetName": "Sheet1",
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": ["row_number"],
          "value": {
            "Status": "Completed",
            "Output": "={{ $json.urn }}",
            "Post Link": "={{ $json.urn }}",
            "row_number": "={{ $json.row_number }}"
          }
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets Account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Get Data from Sheets" }]]
    },
    "Get Data from Sheets": {
      "main": [[{ "node": "Generate Post Content" }]]
    },
    "Generate Post Content": {
      "main": [[{ "node": "Data Formatting" }]]
    },
    "Data Formatting": {
      "main": [[{ "node": "Send Content Confirmation" }]]
    },
    "Send Content Confirmation": {
      "main": [[{ "node": "Content Confirmation Logic" }]]
    },
    "Content Confirmation Logic": {
      "main": [[{ "node": "Post to LinkedIn" }]]
    },
    "Post to LinkedIn": {
      "main": [[{ "node": "Update Google Sheet" }]]
    }
  },
  "active": false
}
